@font-face {
  font-family: "caviar_dreams";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/caviar_dreams/caviar_dreams_bold.eot");
  src: url("../fonts/caviar_dreams/caviar_dreams_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/caviar_dreams/caviar_dreams_bold.woff") format("woff"), url("../fonts/caviar_dreams/caviar_dreams_bold.ttf") format("truetype");
}

@font-face {
  font-family: "caviar_dreams";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/caviar_dreams/caviar_dreams.eot");
  src: url("../fonts/caviar_dreams/caviar_dreams.eot?#iefix") format("embedded-opentype"), url("../fonts/caviar_dreams/caviar_dreams.woff") format("woff"), url("../fonts/caviar_dreams/caviar_dreams.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "caviar_dreams", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-transition: padding-right .5s;
  -o-transition: padding-right .5s;
  transition: padding-right .5s;
  background: #f1f1f1;
}

header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  padding-top: 10%;
}

header .upper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: #252525;
  -webkit-transition: padding-right .5s;
  -o-transition: padding-right .5s;
  transition: padding-right .5s;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

header .upper-links:before {
  content: '';
  position: relative;
  left: 50%;
  top: 55px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 50px solid #252525;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

header .upper-links a {
  text-decoration: none;
}

header .upper-links .container .fa-stack {
  font-size: 1.24em;
}

header .upper-links .container .fa-stack:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

header .upper-links .container .fa-stack .fas {
  color: #FFFFFF;
}

header .upper-links .container .fa-stack .fab {
  color: #000;
  font-size: 1.2em;
}

header .upper-links .container .fa-stack .fab:hover {
  color: #c96e4d;
}

header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  font-weight: bold;
  font-size: 60px;
}

header h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 22px;
  margin-top: 20px;
  color: #666;
}

header nav {
  position: fixed;
  font-weight: bold;
  z-index: 1000;
}

header nav .overlay {
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

header nav .burger {
  z-index: 105;
  position: fixed;
  top: 10px;
  right: 15px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity, margin-right .5s;
  -o-transition: opacity, margin-right .5s;
  transition: opacity, margin-right .5s;
  width: 40px;
  height: 40px;
  background-color: #c96e4d;
  border-radius: 30%;
}

header nav .burger:hover {
  opacity: 1;
}

header nav .burger span, header nav .burger span:before, header nav .burger span:after {
  position: absolute;
  border-radius: 50px;
  display: block;
  width: 26px;
  height: 3px;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

header nav .burger span:before {
  content: "";
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

header nav .burger span:after {
  content: "";
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

header nav .burger.burgerActive span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .burger.burgerActive span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav .burger.burgerActive span {
  height: 0;
}

header nav #mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 105;
  top: 0;
  right: 0;
  background-color: #252525;
  overflow-x: hidden;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  padding-top: 50px;
}

header nav #mySidenav a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 350px;
  height: 50px;
  color: #c96e4d;
  font-size: 25px;
  padding-top: 7px;
  -webkit-transition: background-color, color .2s;
  -o-transition: background-color, color .2s;
  transition: background-color, color .2s;
}

header nav #mySidenav a:hover {
  background-color: #c96e4d;
  color: #000;
}

header .triangle1 {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}

header a.arrow {
  display: block;
  position: absolute;
  bottom: 40px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  padding: 20px;
  background-color: #252525;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
}

header a.arrow i {
  font-size: 45px;
  color: #f1f1f1;
}

header a.arrow:hover {
  background-color: #3c3c3c;
}

header a.arrow h1.demonstration {
  margin-top: auto;
}

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  color: #666;
  overflow-x: hidden;
}

main.container-fluid h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

main.container-fluid #carousel {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  padding-bottom: 40px;
}

main.container-fluid #carousel h2 {
  margin-top: 30px;
  text-align: center;
  color: #666;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 31px;
}

main.container-fluid #carousel .carousel {
  margin-top: 70px;
}

main.container-fluid #carousel .carousel .center {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}

main.container-fluid #carousel .carousel div.item {
  background-position: center center;
  background-size: cover;
  height: 400px;
  -webkit-box-shadow: 0 0 20px 4px #000;
          box-shadow: 0 0 20px 4px #000;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 4px;
}

main.container-fluid #carousel .carousel div.item:hover {
  -webkit-box-shadow: 0 0 20px 4px #c96e4d;
          box-shadow: 0 0 20px 4px #c96e4d;
}

main.container-fluid #carousel .carousel .owl-nav {
  font-size: 40px;
}

main.container-fluid #skills {
  background-color: #252525;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  color: #DDD;
  margin-top: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px 4px #666;
          box-shadow: 0 0 15px 4px #666;
}

main.container-fluid #skills h1 {
  font-size: 45px;
}

main.container-fluid #skills p {
  margin-bottom: 6px;
  margin-top: 20px;
  font-size: 18px;
}

main.container-fluid #skills .skill-container {
  width: 100%;
  background-color: #dddddd;
  overflow: hidden;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
}

main.container-fluid #skills .skill-container:hover {
  -webkit-box-shadow: 0 0 15px 0.5px #999;
          box-shadow: 0 0 15px 0.5px #999;
}

main.container-fluid #skills .skill-container:hover .skills {
  background-color: #b5644c;
}

main.container-fluid #skills .skill-container .skills {
  padding: 12px;
  text-align: right;
}

main.container-fluid #skills .skill-container .html {
  background-color: #8d5647;
  width: 10%;
}

main.container-fluid #skills .skill-container .css {
  background-color: #8d5647;
  width: 10%;
}

main.container-fluid #skills .skill-container .js {
  width: 10%;
  background-color: #8d5647;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
