@import "vars"
@import "fonts"
*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: "caviar_dreams", sans-serif
html
  height: 100%
body
  height: 100%
  transition: padding-right .5s
  background: $light_color
  //background-image: url('../img/Me.png')
  //background-repeat: no-repeat
  //background-position: left center
header
  width: 100%
  height: 100%
  overflow: hidden
  transition: background-color .5s
  padding-top: 10%
  .upper-links
    display: flex
    align-items: center
    position: absolute
    z-index: 4
    left: 0
    top: 0
    height: 65px
    width: 100%
    background-color: $dark_color
    transition: padding-right .5s
    border-bottom-left-radius: 15%
    border-bottom-right-radius: 15%
    &:before
      content: ''
      position: relative
      left: 50%
      top: 55px
      transform: translateX(-50%)
      border-top: 50px solid $dark_color
      border-left: 50px solid transparent
      border-right: 50px solid transparent
    a
      text-decoration: none
    .container
      .fa-stack
        font-size: 1.24em
        &:active
          transform: translateY(2px)
        .fas
          color: #FFFFFF
        .fab
          color: #000
          font-size: 1.2em
          &:hover
            color: $accent

  #particles-js
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
  h1
    text-align: center
    margin:
     left: auto
     right: auto
     top: 120px
    font-weight: bold
    font-size: 60px
  h2
    text-align: center
    line-height: 1.5
    font-size: 22px
    margin:
      top: 20px
    color: #666
  nav
    position: fixed
    font-weight: bold
    z-index: 1000
    .overlay
      display: none
      z-index: 100
      top: 0
      left: 0
      position: fixed
      width: 100%
      height: 100%
      background-color: #000
      opacity: 0.8
    .burger
      z-index: 105
      position: fixed
      top: 10px
      right: 15px
      cursor: pointer
      opacity: .4
      transition: opacity, margin-right .5s
      width: 40px
      height: 40px
      background-color: $accent
      border-radius: 30%
      &:hover
        opacity: 1
      span, span:before, span:after
        position: absolute
        border-radius: 50px
        display: block
        width: 26px
        height: 3px
        background-color: #fff
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto
        transition: transform .5s
      span:before
        content: ""
        transform: translateY(-7px)
      span:after
        content: ""
        transform: translateY(7px)
      &.burgerActive span:before
        transform: rotate(45deg)
      &.burgerActive span:after
        transform: rotate(-45deg)
      &.burgerActive span
        height: 0
    #mySidenav
      height: 100%
      width: 0
      position: fixed
      z-index: 105
      top: 0
      right: 0
      background-color: $dark_color
      overflow-x: hidden
      transition: width 0.5s
      padding-top: 50px
      a
        text-decoration: none
        text-align: center
        display: block
        width: 350px
        height: 50px
        color: $accent
        font-size: 25px
        padding-top: 7px
        transition: background-color, color .2s
        &:hover
          background-color: $accent
          color: #000
  .triangle1
    position: absolute
    z-index: -10
    top: 0
    left: 0
    height: 100%
    width: 100%

    transition: width .5s
  a.arrow
    display: block
    position: absolute
    bottom: 40px
    //top: calc(100% - 140px)
    //border: 1px solid #000
    border-radius: 50%
    left: 50%
    transform: translateX(-50%)
    cursor: pointer
    padding: 20px
    background-color: $dark_color
    transition: left .5s
    i
      font-size: 45px
      color: $light_color
    &:hover
      background-color: #3c3c3c
    h1.demonstration
      margin-top: auto
main.container-fluid
  padding:
    left: 0
    right: 0
  color: #666
  overflow-x: hidden
  h1
    text-align: center
    font-size: 50px
    font-weight: bold
  #carousel
    //height: 100%
    width: 100%
    overflow: hidden
    background-color: $light_color
    padding-bottom: 40px
    h2
      margin-top: 30px
      text-align: center
      //background-image: url('../img/bc.png')
      //background-position: 50% -140px
      //background-repeat: no-repeat
      color: #666
      padding:
       top: 60px
       bottom: 20px
      font-size: 31px
    .carousel
      margin-top: 70px
      .center
        transition: .2s
        transform: scale(1.06)
      div.item
        background-position: center center
        background-size: cover
        height: 400px
        box-shadow: 0 0 20px 4px #000
        cursor: grab
        border-radius: 4px
        &:hover
          box-shadow: 0 0 20px 4px $accent
      .owl-nav
        font-size: 40px
  #skills
    background-color: $dark_color
    padding:
      top: 50px
      bottom: 50px
      right: 30px
      left: 30px
    color: #DDD
    margin-top: 40px
    border-radius: 20px
    box-shadow: 0 0 15px 4px #666
    h1
      font-size: 45px
    p
      margin:
        bottom: 6px
        top: 20px
      font-size: 18px
    .skill-container
      width: 100%
      background-color: #dddddd
      //border-radius: 8px
      overflow: hidden
      transition: box-shadow 0.2s, background-color 0.2s
      &:hover
        box-shadow: 0 0 15px 0.5px #999
      &:hover .skills
        background-color: #b5644c
      .skills
        padding: 12px
        //border-radius: 7px
        text-align: right
      .html
        background-color: #8d5647
        width: 10%
      .css
        background-color: #8d5647
        width: 10%
      .js
        width: 10%
        background-color: #8d5647


@import "media"






